# Build artifacts
/build/
*.o
*.obj
*.exe
*.out

# MuJoCo binary and caches
/mjcache/

# VS Code
/.vscode/

# Editor swap files
*~
.DS_Store

# Compiled binaries
/pendulum

# CMake files
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
